*{
    margin: 100;
    padding: 100;
  box-sizing: border-box;    /*border box*/
}

body{
    font-family: "poppins", sans-serif;
    background-image:url("https://www.lifewire.com/thmb/SU-Nn8Lv-zllxeLGUzh4YSgaldk=/1280x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/vladstudio-library-wallpaper-5919cd763df78cf5fa3d7e27.jpg");
}
